body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #f02727f5, #ff0278);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
}

.digit{
    color: white;
    font-size: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text{ 
    color: rgb(250, 247, 247);
    font-size: 30px;
    font-weight: bold;
    
}
#btn-container{
    text-align: center;
    justify-content: center;
    padding-top: 1.7rem;
}
.btn{
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px 16px;
    color: white;
    border-radius: 10px 10px 10px 10px;
    border: 0px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: 0.2s;
    
}
#Start{
    background-color: rgb(71, 233, 71);
}
#Stop{
   background-color: #2495e0;
}
#Reset{
    background-color: red;
}

#Start:hover{
    cursor: pointer;
    background-color: rgb(88, 222, 43);
    box-shadow: 0px 7px 34px rgb(2, 232, 90);
}
#Stop:hover{
    cursor: pointer;
    background-color: rgb(16, 162, 220);
    box-shadow: 0px 7px 34px rgb(6, 171, 221); 
}
#Reset:hover{
    cursor: pointer;
    background-color: rgb(246, 26, 26);
    box-shadow: 0px 7px 34px rgb(171, 5, 5);   
}